.mainContainer {
  padding-inline: var(--padding-body-desktop);
}

.path {
  margin-top: 2rem;
}

.path span {
  font-weight: bold;
}

@media (width < 600px) {
  .mainContainer {
    padding-inline: var(--padding-body-mobile);
  }

  .path {
    margin-top: 1.25rem;
  }
}
