.mapContainer {
  position: relative;
  width: 100%;
  height: 800px;
}

.customMarker {
  cursor: pointer;
  background-color: var(--color-orange);
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: var(--color-light);
}

.map {
  height: 700px;
  width: auto;
}

.customMarker img {
  width: 20px;
  height: 20px;
  display: block;
}

.customMarker.expanded {
  width: 150px;
  height: 60px;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--color-orange);
  border-radius: 80px;
}

.markerInfo {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 12px;
  color: var(--color-light);
}

.markerInfo strong {
  font-size: 1.2rem;
  font-weight: bold;
}

.markerInfo .name {
  font-size: 0.8rem;
}

.markerInfo .status {
  font-size: 0.6rem;
}

.searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 50%;
  padding: 1.5rem 2.5rem;
  border-bottom-right-radius: var(--b-radius-container);
  background: linear-gradient(
    90deg,
    var(--color-orange) 30%,
    var(--color-yellow) 115.09%
  );
}

.findAStationTitle {
  margin-right: 10px;
  color: var(--color-light);
  font-size: calc(var(--fs-desktop) * 2);
  font-weight: 800;
}

.inputContainer {
  position: relative;
  display: flex;
}

.searchBox {
  flex-grow: 1;
  padding: 10px 12px 10px 12px;
  margin-top: 2rem;
  margin-bottom: 10px;
  border: var(--color-light-grey);
  border-radius: 5px;
  outline: none;
}

.magnifyingGlass {
  position: absolute;
  top: 50%;
  right: 10px;
  color: var(--color-orange);
  font-size: 1.25rem;
}

.searchButton {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--b-radius-button);
  background: linear-gradient(90deg, #1e196a 0%, #241e81 50%, #2e26a1 100%);
  box-shadow: var(--shadow-button);
  color: var(--color-light);
  font-weight: bold;
  cursor: pointer;
}

@media (width < 600px) {
  .mapContainer {
    width: auto;
    margin-inline: calc(var(--padding-body-mobile) * -1);
  }

  .searchContainer {
    position: static;
    width: 100%;
    padding: 1.5rem 2.5rem;
    border-bottom-right-radius: 0px;
  }
}
