.mapContainer {
    position: relative;
    width: 100%;
    height: 800px;
}

.customMarker {
    cursor: pointer;
    background-color: var(--color-orange);  
    padding: 5px;  
    border-radius: 50%;  
    width: 30px;  
    height: 30px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    transition: all 0.3s ease;  
    color: var(--color-light); 
}

.map {
    height: 700px;
    width: auto;
}

.customMarker img {
    width: 20px;  
    height: 20px; 
    display: block; 
}

.customMarker.expanded {
    width: 150px;
    height: 60px; 
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--color-orange);
    border-radius: 80px;
}

.markerInfo {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
    color: var(--color-light);
}

.markerInfo strong {
    font-size: 1.2rem; 
    font-weight: bold;
}

.markerInfo .name {
    font-size: 0.8rem; 
}

.markerInfo .status {
    font-size: 0.6rem; 
}

.searchContainer {
    position: absolute;
    flex-direction: column;
    top: 20px;  
    left: 20px;  
    display: flex;
    align-items: center;
    background-color: var(--color-light); 
    padding: 10px;
    border-radius: 8px;
    z-index: 1000; 
    height: 20%;
    width: 20%;
    background-color: var(--color-orange);
}

.title {
    margin-right: 10px; 
    font-size: 16px; 
    color: var(--color-light);
    
}

.searchBox {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px; /* Space between the input and the button */
    border: var(--color-light-grey);
    border-radius: 4px;
    outline: none;
    height: 20%;
}

.searchButton {
    padding: 8px 12px;
    background-color: var(--color-purple);
    color: var(--color-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
