.mapContainer {
  position: relative;
  width: 100%;
  flex-direction: column;
}

.customMarker {
  cursor: pointer;
  flex-direction: row; 
  background-color: var(--color-orange);
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: var(--color-light);
}

.map {
  width: 100%;
  aspect-ratio: 0.875;
}

.customMarker img {
  width: 20px;
  height: 20px;
  display: block;
}

.customMarker.expanded {
  width: 150px;
  height: 60px;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--color-orange);
  border-radius: 80px;
}

.customMarker.expanded img {
  width: 20px;  
  height: 20px;  
  margin-right: 10px;  
  margin-top: 20px; 
}

.markerContent {  
  display: flex;
  flex-direction: row;  
  justify-content: center;  
  overflow: hidden; 
}

.markerInfo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 12px;
  color: var(--color-light);
}

.markerInfo strong {
  font-size: 1.0rem;
  font-weight: bold;
}

.markerInfo .name {
  font-size: 0.8rem;
}

.markerInfo .status {
  font-size: 0.6rem;
}

.searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  display: flex;
  flex-direction: column;
  width: 37%;
  min-width: 360px;
  padding: 30px 20px 20px 30px;
  border-radius: var(--b-radius-container);
  background: linear-gradient(
    90deg,
    var(--color-orange) 30%,
    var(--color-yellow) 115.09%
  );
}

.findAStationTitle {
  color: var(--color-light);
  font-size: calc(var(--fs-desktop) * 2);
  font-weight: 800;
}

.inputContainer {
  position: relative;
  display: flex;
}

.searchBox {
  width: 100%;
  padding: 1rem;
  margin-top: 1.75rem;
  margin-bottom: 1.375rem;
  border-radius: var(--b-radius-checkbox);
  outline: none;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-weight: bold;
}

.searchBox::placeholder {
  font-weight: normal;
}

.magnifyingGlass {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-35%); 
  color: var(--color-orange);
  font-size: 1.25rem;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--b-radius-button);
  background: linear-gradient(90deg, #1e196a 0%, #241e81 50%, #2e26a1 100%);
  box-shadow: var(--shadow-button);
  color: var(--color-light);
  font-weight: bold;
  cursor: pointer;
}

.cardContainer {
  position: absolute; 
  top: 220px; 
  left: 0px; 
  width: 37%; 
  background-color: var(--color-light);
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  max-height: 60%; 
  overflow-y: auto;
  z-index: 2;
   
}

.stationHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: var(--color-purple);
  color: var(--color-light);
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 20px 20px 30px;
  width: 100%; 
}

.headerContent {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.stationHeader h1 {
  flex: 1; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.filterButton {
  padding: 5px 10px;
  background-color: var(--color-purple);
  color: var(--color-light);
  border-radius: var(--b-radius-button);
  cursor: pointer;
  box-shadow: var(--shadow-button);
  flex-shrink: 0;
  margin-left: auto;
}





@media (width < 600px) {
  .mapContainer {
    width: auto;
    margin-inline: calc(var(--padding-body-mobile) * -1);
  }

  .searchContainer {
    position: static;
    width: 100%;
    min-width: none;
    padding: 30px 18px 18px 18px;
    border-radius: 0px;
  }

  .findAStationTitle {
    font-size: 24px;
  }

  .searchBox {
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 12px;
  }

  .magnifyingGlass {
    font-size: 1rem;
    transform: translateY(-45%);
  }

  .cardContainer {
    width: 100%; 
    top: 0; 
    max-height: 100%; 
    padding: 10px;
    overflow-y: scroll; 
  }

  .inputContainer,
  .searchBox,
  .searchButton,
  .filterButton {
    font-size: calc(var(--fs-desktop) * 0.875); 
  }

  .customMarker,
  .customMarker.expanded {
    width: 120px; 
    height: 50px; 
  }
}
