.navbar {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
  padding-block: 1rem;
  padding-inline: var(--padding-body-desktop);
  box-shadow: var(--shadow-container);
  font-size: 14px;
}

.logoImage {
  height: 54px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navMenu {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
}

.menuItem {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.menuItem:hover,
.menuItem:focus {
  color: var(--color-orange);
}

.dropdownContent {
  position: absolute;
  z-index: 1;
  display: none;
  min-width: 160px;
  box-shadow: var(--shadow-container);
  background-color: var(--color-light);
}

.dropdownContent a {
  display: block;
  padding: 12px 16px;
  color: var(--color-dark);
  text-decoration: none;
}

.menuItem:hover .dropdownContent {
  display: block;
}

.dropdownContent a:hover {
  background-color: var(--color-light-grey);
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.findAStationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-right: 20px;
  border-radius: 40px;
  background: linear-gradient(270deg, #f09d4d 0%, #e7823e 50%, #de642e 100%);
  color: var(--color-light);
  cursor: pointer;
}

.searchInput {
  width: 7ch;
  outline: none;
}
.searchInput::placeholder {
  color: var(--color-dark);
}

.magnifyingGlass {
  background-color: var(--color-light);
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
  transform: translateY(-10%);
}

.hamburgerMenu {
  display: none;
  background-color: var(--color-light);
  color: var(--color-orange);
  font-size: 50px;
  opacity: 0.8;
}

@media (width < 1000px) {
  .mainContent {
    justify-content: flex-end;
  }

  .navMenu {
    display: none;
  }

  .findAStationButton {
    display: none;
  }

  .searchInput {
    display: none;
  }

  .magnifyingGlass {
    font-size: 40px;
    transform: translateY(-2%);
  }

  .divider {
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-right: 0.3rem;
    border-left: 1px var(--color-light-grey) solid;
    color: var(--color-light-grey);
  }

  .hamburgerMenu {
    display: block;
  }
}

@media (width < 600px) {
  .navbar {
    padding-inline: var(--padding-body-mobile);
    font-size: 12px;
  }
}
